<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/Copy_of_SQLite_remote_db_colab_sqlite3_openpyxl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [SQLite Colab Excel](https://www.plus2net.com/python/sqlite-colab-excel.php)

In [ ]:
# download my_db.db SQLite Database from plus2net.com
!wget https://www.plus2net.com/python/download/my_db.db

In [33]:
import sqlite3
my_conn = sqlite3.connect('my_db.db') # connect to db

In [ ]:
query="SELECT name FROM sqlite_master WHERE type='table' "
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # List of tables

In [ ]:
query="pragma table_info([student])"
my_data=list(my_conn.execute(query)) # rows of data as list
l1=[r[1] for r in my_data]
print(l1) # List of column header names

In [ ]:
query="SELECT *  FROM student LIMIT 0,5" # sql
my_data=list(my_conn.execute(query)) # rows of data as list
print(*my_data) # display  rows

# Create Excel file by using SQLite database table

In [1]:
pip install openpyxl # Install the library

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [35]:
from openpyxl import Workbook
from openpyxl.styles import PatternFill,Font

query="pragma table_info([student])" # structure of the table
my_data=list(my_conn.execute(query)) # rows of data as list
l1=[r[1] for r in my_data] # List of column header

query="SELECT * FROM student LIMIT 0,10" # query
my_data=my_conn.execute(query)
my_data=[r for r in my_data] # List of rows of data

wb=Workbook()
ws1=wb.active # work with default worksheet
ws1.append(l1) # adding column headers at first row

my_font=Font(size=14,bold=True) # font styles
my_fill=PatternFill(fill_type='solid',start_color='FFFF00') #Background color
for cell in ws1["1:1"]: # First row
    cell.font = my_font
    cell.fill= my_fill

r,c=2,0 # row=2 and column=0
for row_data in my_data:
    d=[r for r in row_data]
    ws1.append(d)
my_path='my_student.xlsx'#Path
wb.save(my_path)

# **Read from Excel file and write to SQLite database table. **

In [44]:
query='DROP TABLE student'
try:
  r_set=my_conn.execute(query)
  print("No of Records deleted : ",r_set.rowcount)
  my_conn.commit()
except sqlite3.Error as my_error:
  print("error: ",my_error)

No of Records deleted :  -1

In [45]:
# We have to create the table by directly writing the query
my_conn.execute('''
CREATE TABLE IF NOT EXISTS student(id integer primary key,
                      name text,
                      class text,
                      mark integer,
                      gender text
                      );''')
my_conn.commit()
print("Student Table created successfully");

Student Table created successfully

Read the Excel page and create a list with rows of data to generate the query for inserting to SQLite table.

In [41]:
from openpyxl import load_workbook
wb = load_workbook(filename='my_student.xlsx', read_only=True) # change path
ws = wb['Sheet'] # connecting to sheet
my_data=[]
# remove the column headers and start from 2nd row with data
for data in ws.iter_rows(min_row=2,max_col=5,max_row=5,values_only=True):
    print(data[0],data[1]) # Show column 1,2 - id, name
    my_data.append(data)
wb.close()# Close the workbook after reading

1 John Deo
2 Max Ruin
3 Arnold
4 Krish Star

In [ ]:
query2='INSERT INTO `student` (`id`, `name`, `class`, `mark`, `gender`) VALUES '
my_str=",".join(map(str,my_data))
query2=query2+my_str+';'
print(query2) # for checking
r_set=my_conn.execute(query2) # insert data to table
my_conn.commit()

[More on SQLite database using Colab platform](https://www.plus2net.com/python/sqlite-colab.php)


Web site: www.plus2net.com

YouTube: https://www.youtube.com/@plus2net1

Facebook: https://www.facebook.com/plus2net

Instagram: https://www.instagram.com/plus2net.in/

LinkedIn: https://www.linkedin.com/in/plus2net/

Write to us  https: //www.plus2net.com/contactus.php