<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/online_class_variables_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [Python  Variable](https://www.plus2net.com/python/variables.php)

# Rules to create variables
* Name starts with lower or upper
* case chars or underscore _
* Can’t start with number
* Can contain number , underscore ,char
* No length restriction
* Can reassign to different types.
* Case sensitive
* Reserved words can’t be used ( What is reserved words ?)
* Must assign before using
Operations within similar variables
* Scope of Variables

By usnig type() we can print the type of the variable or object

What is the version of Python here ?

In [ ]:
!python --version

In [ ]:
print('Hello World')

Use two variables to store integers and then print the sum of them

In [ ]:
v1=4
v2=5
print(v1+v2)

9

Create one variable id and assign one string to it , then print the type()

In [ ]:
id="45"
print(type(id)) # str

Now assign one integer to this and print the type()

In [ ]:
id=45
print(type(id)) # what is the output ?

assign one integer variable, one string, one more interger varialble staring with _ and one more string variable. Print all in one line

In [1]:
a=45
my_name="Raju"
_mark=65
Address="World"
print ( Address,my_name,_mark,a )

World Raju 65 45

Take two numbers as inputs and print the sum of them ( directly ).

In [ ]:
# reading user inputs
# print sum of two numbers
a=input("Enter first Number")
b=input("Enter Second number")
print("Sum = ",a+b) # 35 ( why it is 35 for 3 & 5 )

 Take inputs and it should print sum of them .
  By default all inputs are ---- ?

In [ ]:
# reading user inputs
# print sum of two numbers
a=int(input("Enter first Number"))
b=int(input("Enter Second number"))
print("Sum = ",a+b)

Take two variables , Assign one integer and one number string to them and then print the sum of two.

In [ ]:
a=5
b='6'
print('Sum :',a+int(b)) # 11
print('Sum:',str(a)+b) # 56

Variables are case sensitive, take one varible and assign one string, then print the variable with one char in upper case.

In [ ]:
my_mark=45
print(My_mark) # my_mark is not same as My_mark

Give the name of the variable as def , why there is an error ?

In [ ]:
def = 15 # Why error
print(def)

can use underscore as starting char of variable name. Add two variables

In [ ]:
_a=5
_b=6
print(_a+_b) # 11

Swap the values of variables x and y without using a temporary variable.

In [ ]:
x=5
y=10
x,y=y,x
print(x,y) # 10  5

Can we start a variable with number, check with an example.

In [ ]:
4a=45 # variable can't start with number

assigning multiple variables same value same time. Print one value.

In [ ]:
# assigning multiple variables same value same time
a=b=c=d=45
print(c) #45

Assign multiple variables different values same time. Print sum of two.

In [ ]:
a,b,c=3,5,8
print(a+c) #11

print without line break

In [ ]:
print('welcome')
print(' to ')
print('Python')

welcome
 to
Python

Add end='' as option in print command

In [ ]:
print('welcome',end='')
print(' to ',end='')
print('Python',end='')

In [ ]:
print("welcome",'to','Python',sep='-') # using separator

In [ ]:
a=None
b=5
print(a+b) # Error

Delete a variable and then print

In [ ]:
a=5
del a
print(a) # error

**placeholder {}**

In [ ]:
print("Welcome {} to {}".format('Raju','Python'))

In [ ]:
print("Welcome Raju {2}  {1} of {0} ".format('Python','basics','to'))

In [ ]:
avg=356.23456
print("Hi Average ={:.2f})".format(avg))

Hi Average =356.23)

In [ ]:
# id() gives memory location of the variable.
a=6
id(a)

In [ ]:
a=6
b=a
print(id(a),id(b)) # same id

In [ ]:
a=6
b=7
print(id(a),id(b))
print(type(a))

10914656 10914688
<class 'int'>

In [ ]:
a=6
b=a
b=7
a=7
print(id(a),id(b))

94076669311680 94076669311680

In [ ]:
a=6
b='Hi'
print(id(a),id(b)) # how the address changes

94076669311648 139898813119984

In [ ]:
a=-6
b=-6
print("Using is :",a is b)
print("using == :",a==b)

Using is : False
using == : True

In [ ]:
a=30
b=30
print(a is b ) #
a=300
b=300
print(a is b ) #

True
False

In [ ]:
a=300
b=300
print(a is b ) #

False

Try to answer

1.   How to know type of variable
2. How to remove line break between two print commands
3. What are the rules for declaring variables?
4. Can I use uppercase chars as first char of a varaible ?
5. Can I use underscore as first char of a variable ?
6. Can I use number as first char of a variable ?
7. How to print multiple variables using single print command
8. Add one separator between the variables in above command
9. Why can't we use *def* as a variable name?
10. How to know the addres of a vriable ?

[www.plus2net.com](https://www.plus2net.com)      [YouTube](https://https://www.youtube.com/c/plus2net1) [Contact Us](https://www.plus2net.com/contactus.php)