<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/online_class_variables_types_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [Python  Variable type](https://www.plus2net.com/python/type.php)



*   None
*   Numeric ( Integer , float, complex ) 
*   Sequence (list, tuple, set, range)
* Bool
* String ( or str )
* Dictionary

By usnig type() we can print the type of the variable or object

In [ ]:
v1=4
print(v1)

4

In [ ]:
print(type(5))          #<class 'int'>
print(type(3.4))        #<class 'float'>
print(type(5+9j))       #<class 'complex'>

list,type, set , dict

In [ ]:
print(type(['One','Tow','Three']))          # <class 'list'>
print(type(('One','Tow','Three')))          # <class 'tuple'>
print(type({'One','Tow','Three'}))          # <class 'set'>
print(type({1:'Alex',2:'Ronald',3:'John'})) # <class 'dict'>

None type data

In [ ]:
a=None
print(type(a))

<class 'NoneType'>

In [ ]:
x=range(5)      # 5 is stop value
print(type(x))  # <class 'range'>

In [ ]:
a=True
print(type(a)) # <class 'bool'>

In [ ]:
print(type("Welcome"))  #<class 'str'>

You can create your own data type.

In [ ]:
class Animal():
    #instance attributes
    def __init__(self1,name1,age):
        self1.name= name1
        self1.age=age

#instantiate the Animal  class
tiger=Animal("Ronald",5)  # tiger is an object of Animal class

print(type(tiger)) # <class '__main__.Animal'>

Converting one data type to other

In [ ]:
my_int=5 # integer data type
print(type(my_int)) # <class 'int'>
my_int=str(5) # converted to string 
print(type(my_int)) # <class 'str'>

In [ ]:
my_int=5
print(type(my_int)) # <class 'int'>
my_int=float(5)
print(type(my_int)) # <class 'float'>

In [ ]:
my_data=5.0
print(type(my_data)) # <class 'float'>
my_data=int(my_data)
print(my_data)       # 5
print(type(my_data)) # <class 'int'>

In [ ]:
my_int1=5
my_int2=3
my_int=complex(my_int1,my_int2)
print(type(my_int)) # <class 'complex'>

Float type to Integer by using int()

In [ ]:
my_float=5.4
my_int=int(my_float)
print(type(my_int)) # <class 'int'>

Can you convert all data types ?

In [ ]:
my_int='56'
print(type(my_int)) # <class 'str'>
my_int=int(my_int)
print(type(my_int)) # <class 'int'>

Why there is an error below ?

In [ ]:
my_int='abc'
print(type(my_int)) # <class 'str'>
my_int=int(my_int) # ValueError: invalid literal for int() with base 10: 'abc'

Try to answer 

1.   How to know type of variable ?
2. How to convert integer data type to float ?
3. Can we add two strings?
4. Can I add integer to String ?
5. Can we convert all data to different data types ?