<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/online_class_M2_print_format_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [Python  print()](https://www.plus2net.com/python/print.php) |  [Python  format()](https://www.plus2net.com/python/format.php)

In [ ]:
my_str='Welcome {} plus2net'
print(my_str.format('to')) # Welcome to plus2net

Use multiple place holders

In [ ]:
my_str='Product : {} , Prise is Rs {}'
print(my_str.format('Mango','45'))

Use index position for place holders.

In [ ]:
my_str='Price is Rs : {1} , Product {0}'
print(my_str.format('Mango','45'))

Allocate some place for the place holder and align the data in left , center and right direction.

In [3]:
my_str='Left Aligned Product  : {:<25},Price:45'
print(my_str.format('Mango'))

my_str='Right Aligned Product : {:>25},Price:45'
print(my_str.format('Banana'))

my_str='Center Aligned Product: {:^25},Price:45'
print(my_str.format('Apple'))

Left Aligned Product  : Mango                    ,Price:45
Right Aligned Product :                    Banana,Price:45
Center Aligned Product:           Apple          ,Price:45

Convert Decimal to Binary, Hex, and Octal

In [4]:
my_str='Binary value from decimal is: {:b}'
print(my_str.format(10))

my_str='HEX value from decimal is {:X}'
print(my_str.format(30))

my_str='HEX value from decimal is {:x}'
print(my_str.format(30))

my_str='Octal value from decimal is {:o}'
print(my_str.format(30))

Binary value from decimal is: 1010
HEX value from decimal is 1E
HEX value from decimal is 1e
Octal value from decimal is 36

We can format to display 4 decimal places

In [5]:
my_str='Price is Rs :{my_price:.4f}'
print(my_str.format(my_price=120.75))

Price is Rs :120.7500

Total space we can define along with decimal place. Note that in above code we used 8 positions including the decimal ( dot ) . Now we will format for 9 places ( in total including integer , dot and decimal place )

In [ ]:
my_str='Price is Rs :{my_price:9.4f}'
print(my_str.format(my_price=120.75))

Sign type for numbers
This is applicable only for numbers

In [ ]:
my_str="Sign numbers is {:-}"
print(my_str.format(-30))

my_str="Sign numbers is {:-}"
print(my_str.format(+30))

my_str="Sign numbers is {:+}"
print(my_str.format(30))

my_str="Sign numbers is {:+}"
print(my_str.format(-30))

my_str="Sign numbers is {: }"
print(my_str.format(30))

my_str="Sign numbers is {: }"
print(my_str.format(-30))

Formatting for 1000 place
One comma to be added for every thousand place. Here is the input with output.

In [ ]:
def format_number(number):
    return ("{:,}".format(number))
print(format_number(1000000)) # 1,000,000

[www.plus2net.com](https://www.plus2net.com)      [YouTube](https://https://www.youtube.com/c/plus2net1) [Contact Us](https://www.plus2net.com/contactus.php)