<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/online_class_for_loop_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [Python for loop ](https://www.plus2net.com/python/for-loop.php)

Start with a simple example to understand for loop with range

In [ ]:
for x in range(5):
  print(x)
print('I am outside the loop')

for loop range with start and stop value

In [ ]:
for x in range(5,10):
  print(x)
print('I am outside the loop')

for loop with start stop and step value

In [ ]:
for x in range(5,26,5):
  print(x)
print('I am outside the loop')

In [ ]:
for x in range(5,25,5):
  if(x==15):
    #continue
    break
  print(x)
print('I am outside the loop')

For loop with break

for loop with continue

Add one else part to a for loop.

In [ ]:
for x in range(5,25,5):
  if(x==15):
    #continue
    break
  print(x)
else:
  print('Out of the loop but with else ')
print('I am outside the loop')

What is the effect of break and continue with else

What is nested for loop, give example

In [ ]:
for i in range(5):
  for j in range(5):
    print('*',end='')
  print("")

Print all prime numbers upto 100

In [ ]:
num=50
for i in range(2,num-1):
  for j in range(2,i-1):
    if(i%j==0):
      break
  else:
    print(i, " is a prime number")

Use one list to display

In [ ]:
names=['King','Queen','Jack & others']
for str1 in names:
  print(str1)