<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/openpyxl_2_reading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        More on  [reading by openpyxl  ](https://www.plus2net.com/python/openpyxl-reading.php)

Upload sample student.xlsx file to directory here and then open the file. Or run the cell below to copy from the given URL

In [ ]:
!wget https://www.plus2net.com/python/download/student.xlsx # Excel file download

In [2]:
from openpyxl import load_workbook

wb = load_workbook(
    filename='student.xlsx',
    read_only=True
) # change path

ws = wb['student'] # connecting to sheet

wb.close() # Close the workbook after reading

In [5]:
# read the perticular cell value
wb = load_workbook(
    filename='student.xlsx',
    read_only=True
)

ws = wb['student'] # connecting to sheet

print(ws.cell(2,3).value) # One particular cell value ( row =2 , column= 3)

wb.close() # Close the workbook after reading

Four

Read some data based on row and column range.

In [9]:
# Iterate A1:C5 returning cell values only
from openpyxl import load_workbook
wb = load_workbook('student.xlsx')
ws = wb['student']

for row in ws.iter_rows(min_row=1, max_row=5, min_col=1, max_col=3, values_only=True):
    print(row)

#wb.close() # to continue without loading again

('id', 'name', 'class')
(1, 'John Deo', 'Four')
(2, 'Max Ruin', 'Three')
(3, 'Arnold', 'Three')
(4, 'Krish Star', 'Four')

In [10]:
for data in ws.iter_rows(
    max_col=5,
    max_row=5,
    values_only=True
):
    print(data[0],data[1]) # Show column 1,2 - id, name

id name
1 John Deo
2 Max Ruin
3 Arnold
4 Krish Star

In [13]:
for data in ws.iter_rows(
    max_col=5,
    max_row=5,
    values_only=True
):
    for d in range(len(data)):
        print(data[d], end=' ') # print all data of a row
    print('') # adding line break

id name class mark gender
1 John Deo Four 75 female
2 Max Ruin Three 85 male
3 Arnold Three 55 male
4 Krish Star Four 60 female

Remove the header and only show data

In [14]:
for data in ws.iter_rows(
    min_row=2,
    max_col=5,
    max_row=6,
    values_only=True
):
    for d in range(len(data)):
        print(data[d], end=' ') # print all data of a row
    print('') # adding line break at end of each row

1 John Deo Four 75 female
2 Max Ruin Three 85 male
3 Arnold Three 55 male
4 Krish Star Four 60 female
5 John Mike Four 60 female

In [17]:
for data in ws.iter_cols(
    min_row=2,
    min_col=2,
    max_row=6,
    max_col=2,
    values_only=True
):
    print(data)

('John Deo', 'Max Ruin', 'Arnold', 'Krish Star', 'John Mike')

To get the header ( name ) we will remove the option min_row=2

In [18]:
for data in ws.iter_cols(

    min_col=2,
    max_row=6,
    max_col=2,
    values_only=True
):
    print(data)

('name', 'John Deo', 'Max Ruin', 'Arnold', 'Krish Star', 'John Mike')

Total number of rows and columns in worksheet

In [19]:
print(ws.max_column) # Max column count, output is 5
print(ws.max_row) # Max row count, output is 36

5
36

Data for last row first column

In [20]:
print(ws.cell(ws.max_row, 1).value)

35

Display the row having highest mark.

In [21]:
max_mark = 0
row_with_max_mark = None

# Iterate through rows, skipping the header
for row in ws.iter_rows(min_row=2, values_only=True):
    # Assuming 'mark' is the 4th column (index 3)
    mark = row[3]
    if isinstance(mark, (int, float)) and mark > max_mark:
        max_mark = mark
        row_with_max_mark = row

print("Row with maximum mark:")
print(row_with_max_mark)

Row with maximum mark:
(33, 'Kenn Rein', 'Six', 96, 'female')

Getting the average mark from the student table.

In [23]:
total_marks = 0
count_marks = 0

# Iterate through rows, skipping the header
for row in ws.iter_rows(min_row=2, values_only=True):
    # Assuming 'mark' is the 4th column (index 3)
    mark = row[3]
    if isinstance(mark, (int, float)):
        total_marks += mark
        count_marks += 1

if count_marks > 0:
    average_mark = total_marks / count_marks
    print("Average mark:", average_mark)
else:
    print("No valid marks found to calculate the average.")

Average mark: 74.65714285714286