<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/SQLite_AUTOINCREMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [SQLite Insert](https://www.plus2net.com/python/sqlite-insert.php)

In [1]:
import sqlite3
my_conn = sqlite3.connect('my_db.db')
print("Connected to database successfully")

Connected to database successfully

In [32]:
my_conn.execute('''CREATE TABLE IF NOT EXISTS student(id integer primary key AUTOINCREMENT,
                      name text,
                      class text,
                      mark integer,
                      gender text  )''')

In [46]:
my_query="INSERT INTO student(name,class,mark,gender) \
          values('New Name', 'Four', 65, 'Female')"
r_set=my_conn.execute(my_query)
print(r_set.lastrowid)

7

In [ ]:
query="SELECT *  FROM student "
my_data=list(my_conn.execute(query)) #
print(my_data)

In [ ]:
query="DELETE FROM student WHERE id=4"
my_data=my_conn.execute(query) #
#print(my_data)
print("No of Records deleted : ",my_data.rowcount)

In [ ]:
query='DROP TABLE student'
my_data=my_conn.execute(query) #
#print(my_data)
print("No of Records deleted : ",my_data.rowcount)

[More on SQLite insert ](https://www.plus2net.com/python/sqlite-insert.php)


Web site: www.plus2net.com

YouTube: https://www.youtube.com/@plus2net1

Facebook: https://www.facebook.com/plus2net

Instagram: https://www.instagram.com/plus2net.in/

LinkedIn: https://www.linkedin.com/in/plus2net/

Write to us  https: //www.plus2net.com/contactus.php