<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/sqlite_constraints.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [SQLite Colab constraints](https://www.plus2net.com/python/sqlite-check.php)

Create or connect to SQLite database

In [ ]:
import sqlite3
my_conn = sqlite3.connect('my_db.db')
print("Connected to database successfully")

(Optional) , Deleter table students

In [ ]:
query='DROP table students'
try:
  my_conn.execute(query)
except sqlite3.Error as my_error:
    print("error: ",my_error)
else:
  print("Students Table deleted  successfully")

Query to create table with constraints.

In [55]:
query='CREATE TABLE students (\
    student_id INTEGER PRIMARY KEY,\
    name TEXT NOT NULL,\
    age INTEGER CHECK(age >= 5),\
    email TEXT UNIQUE,\
    class_id INTEGER check(typeof(class_id)="integer"))'

Execute query to create table

In [ ]:
try:
  my_conn.execute(query)
except sqlite3.Error as my_error:
    print("error: ",my_error)
else:
  print("Students Table created successfully")

Adding data to table ( Query part only )

In [57]:
query='''INSERT INTO `students` \
  (`student_id`, `name`, `age`, `email`,`class_id`) VALUES\
  (1, "John Deo",20,"abc@example.com",5),\
  (2, "Max Ruin",21, "xyz@example.com", 6),\
  (3, "Arnold", 20,"klm@example.com", 4);'''

Execute the query to add rows to table

In [ ]:
try:
  r_set=my_conn.execute(query)
except sqlite3.Error as e:
    print("An error occurred:", e.args[0])
else:
  print("No of Records added : ",r_set.rowcount)

Query to add single record to test the constraints

In [64]:
query='''INSERT INTO `students` \
  (`student_id`, `name`, `age`, `email`, `class_id`) VALUES\
  (4, "John Deo",5,"abc4@example.com","123")'''

In [51]:
query='''INSERT INTO `students` \
  (`student_id`, `name`, `age`, `email`, `enrolled`,`class_id`) VALUES\
  (4, 'abc',5,"abc5@example.com",5)'''

Execute the query to check the constraints

In [ ]:
try:
  r_set=my_conn.execute(query)
except sqlite3.Error as e:
    print("An error occurred:", e.args[0])
else:
  print("No of Records added : ",r_set.rowcount)

Show all records available in students table

In [ ]:
query="SELECT *  FROM students "
my_data=my_conn.execute(query) #
for row in my_data:
  print(row)

[Download the code and tutorial on SQLite constraints](https://www.plus2net.com/python/sqlite-check.php)

[More on SQLite database using Colab platform](https://www.plus2net.com/python/sqlite-colab.php)


Web site: www.plus2net.com

YouTube: https://www.youtube.com/@plus2net1

Facebook: https://www.facebook.com/plus2net

Instagram: https://www.instagram.com/plus2net.in/

LinkedIn: https://www.linkedin.com/in/plus2net/

Write to us  https: //www.plus2net.com/contactus.php