<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/SQLite_sample_table_date_column_dump.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [SQLite Date Queries](https://www.plus2net.com/python/sqlite-date-query.php)

In [ ]:
import sqlite3
my_path='my_db.db' #Change the path of your database
try:
    my_conn = sqlite3.connect(my_path) #
except sqlite3.Error as my_error:
  print("error: ",my_error)
else:
  print("Connected to database successfully")

Delete the table if required.

In [ ]:
try:
  r_set=my_conn.execute('''DROP TABLE table_dt''')
except sqlite3.Error as my_error:
  print("error: ",my_error)
else:
  print("Deleted table table_dt")

Create table

In [ ]:
r_set=my_conn.execute("CREATE TABLE IF NOT EXISTS table_dt ( \
  record_id varchar(4) NOT NULL, \
  date text NOT NULL, \
  `month-year` varchar(10) NOT NULL)")
my_conn.commit()
print('dt_table created inside my_db.db database')

Create a List of data and insert the same to the table. All our data are created keeping the today's date as base date. Adjust the range to include more records.

In [ ]:
from datetime import timedelta,date,datetime
dt_today = date.today() # Today is the base date
my_data=[] # Blank list to store rows of data
for i in range(-2,2): # increase or decrease range of dates
  dt = dt_today + timedelta(days=i) # adjusted date
  my_data.append((i,dt.strftime('%Y-%m-%d'),dt.strftime('%b-%Y')))
print(my_data)

In [47]:
query="INSERT INTO table_dt VALUES (?,?,?)" # query to insert data
r_set=my_conn.executemany(query,my_data) # add data to table
my_conn.commit()
print('No of records added : ',r_set.rowcount)

No of records added :  4

Show all tables inside the Database

In [ ]:
query="SELECT name FROM sqlite_master WHERE type='table' "
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # List of tables

Show the structure of the table

In [ ]:
query="pragma table_info([table_dt])" # show structure
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # Structure of the table

Show all records from the table

In [ ]:
query="SELECT *  FROM table_dt" # sql
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # display  rows

To delete all records or delete the table

In [ ]:
query="DELETE FROM table_dt" # Query to delete records
#query='DROP TABLE dt_table' # Query to delete table
try:
  r_set=my_conn.execute(query)
  print("No of Records deleted : ",r_set.rowcount)
  my_conn.commit()
except sqlite3.Error as my_error:
  print("error: ",my_error)

# Run quries to get records based on Date

In [ ]:
#Display all records of last 2 days ( no future dates )
query="SELECT * FROM table_dt WHERE date BETWEEN date('now','-2 day') AND date('now')"
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # display  rows

[More on SQLite database using Colab platform](https://www.plus2net.com/python/sqlite-colab.php)


Web site: www.plus2net.com

YouTube: https://www.youtube.com/@plus2net1

Facebook: https://www.facebook.com/plus2net

Instagram: https://www.instagram.com/plus2net.in/

LinkedIn: https://www.linkedin.com/in/plus2net/

Write to us  https: //www.plus2net.com/contactus.php