<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/SQLite_remote_db_colab_sqlite3_excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [SQLite Colab Excel](https://www.plus2net.com/python/sqlite-colab-excel.php)

In [ ]:
# download my_db.db the sample SQLite Database from plus2net.com
!wget https://www.plus2net.com/python/download/my_db.db

In [ ]:
import sqlite3
my_conn = sqlite3.connect('my_db.db') # connect to db

In [ ]:
query="SELECT name FROM sqlite_master WHERE type='table' "
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # List of tables

[('category',), ('subcategory',), ('student',)]

In [ ]:
query="pragma table_info([student])"
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # List of tables

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 0, None, 0), (2, 'class', 'TEXT', 0, None, 0), (3, 'mark', 'INTEGER', 0, None, 0), (4, 'gender', 'TEXT', 0, None, 0)]

In [ ]:
query="SELECT *  FROM student LIMIT 0,5" # sql to collect 5 records
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # display  rows

In [ ]:
import pandas as pd
query='SELECT * FROM student' # SQL to collect all records from table
df=pd.read_sql(query,my_conn,index_col='id') # create dataframe
print(df) # Print the dataframe with all rows

In [ ]:
df.to_excel('my_student.xlsx') # create Excel file

From Excel to SQLite database table

In [ ]:
#query="DELETE FROM student" # Query to delete records
query='DROP TABLE student' # Query to delete table
try:
  r_set=my_conn.execute(query)
  print("No of Records deleted : ",r_set.rowcount)
  my_conn.commit()
except sqlite3.Error as my_error:
  print("error: ",my_error)

Use the student.xlsx file as we created above or download the sample student.xlsx file from plus2net.com , this will be available at left side pannel after download. Use any one of the two ways.

In [ ]:
# create DataFrame by reading xlsx file
df = pd.read_excel('my_student.xlsx',index_col='id')
## OR download the student.xlsx file from plus2net and then create the dataframe.
#!wget https://www.plus2net.com/python/download/student.xlsx # download sample student file
#df = pd.read_excel('my_student.xlsx',index_col='id')

In [ ]:
# From DataFrame create student2 table
df.to_sql(con=my_conn,name='student2',if_exists='append')

In [ ]:
query="SELECT *  FROM student2 LIMIT 0,5" # sql to get 5 records
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data)

[More on SQLite database using Colab platform](https://www.plus2net.com/python/sqlite-colab.php)


Web site: www.plus2net.com

YouTube: https://www.youtube.com/@plus2net1

Facebook: https://www.facebook.com/plus2net

Instagram: https://www.instagram.com/plus2net.in/

LinkedIn: https://www.linkedin.com/in/plus2net/

Write to us  https: //www.plus2net.com/contactus.php