<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/SQLite_remote_db_colab_sqlite3_xlsxwriter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [SQLite Colab Excel](https://www.plus2net.com/python/sqlite-colab-excel.php)

In [14]:
# download my_db.db SQLite Database from plus2net.com
!wget https://www.plus2net.com/python/download/my_db.db

--2023-11-18 00:35:55--  https://www.plus2net.com/python/download/my_db.db
Resolving www.plus2net.com (www.plus2net.com)... 68.178.227.154
Connecting to www.plus2net.com (www.plus2net.com)|68.178.227.154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16384 (16K)
Saving to: ‘my_db.db’

my_db.db            100%[===================>]  16.00K  --.-KB/s    in 0s

2023-11-18 00:35:56 (138 MB/s) - ‘my_db.db’ saved [16384/16384]

In [15]:
import sqlite3
my_conn = sqlite3.connect('my_db.db') # connect to db

In [16]:
query="SELECT name FROM sqlite_master WHERE type='table' "
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # List of tables

[('category',), ('subcategory',), ('student',)]

In [40]:
query="pragma table_info([student])"
my_data=list(my_conn.execute(query)) # rows of data as list
l1=[r[1] for r in my_data]
print(l1) # List of column header names

['id', 'name', 'class', 'mark', 'gender']

In [20]:
query="SELECT *  FROM student LIMIT 0,5" # sql
my_data=list(my_conn.execute(query)) # rows of data as list
print(*my_data) # display  rows

(1, 'John Deo', 'Four', 75, 'female') (2, 'Max Ruin', 'Three', 85, 'male') (3, 'Arnold', 'Three', 55, 'male') (4, 'Krish Star', 'Four', 60, 'female') (5, 'John Mike', 'Four', 60, 'female')

In [ ]:
pip install xlsxwriter # Install the library

In [ ]:
query="pragma table_info([student])" # structure of the table
my_data=list(my_conn.execute(query)) # rows of data as list
l1=[r[1] for r in my_data] # List of column header

import xlsxwriter # Or install by using pip install xlsxwriter
wb = xlsxwriter.Workbook('my_student.xlsx') # create workbook
ws = wb.add_worksheet() # Add worksheet
query="SELECT * FROM student LIMIT 0,10" # query
my_data=my_conn.execute(query)
my_data=[r for r in my_data] # List of rows of data
my_format = wb.add_format({'bold': True, 'font_color': 'red',
 'align':'center','bg_color':'#FFFF00'}) # Header row format
ws.write_row('A1',l1,my_format) # Add header row

r,c=1,0 # row=1 and column=0
for row_data in my_data:
    ws.write_row(r,c,row_data) # add row to excel page
    r=r+1 # increase row by 1 for next row
wb.close() # Save worksheet

[More on SQLite database using Colab platform](https://www.plus2net.com/python/sqlite-colab.php)


Web site: www.plus2net.com

YouTube: https://www.youtube.com/@plus2net1

Facebook: https://www.facebook.com/plus2net

Instagram: https://www.instagram.com/plus2net.in/

LinkedIn: https://www.linkedin.com/in/plus2net/

Write to us  https: //www.plus2net.com/contactus.php