In [ ]:
# download my_db.db SQLite Database from plus2net.com
!wget https://www.plus2net.com/python/download/my_db.db

In [ ]:
import sqlite3
my_conn = sqlite3.connect('my_db.db') # connect to db

In [ ]:
query="SELECT name FROM sqlite_master WHERE type='table' "
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # List of tables

In [ ]:
query="SELECT *  FROM student LIMIT 0,5" # sql
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # display  rows

In [ ]:
import pandas as pd
query='SELECT * FROM student' # SQL to collect all records from table
df=pd.read_sql(query,my_conn,index_col='id') # create dataframe
print(df) # Print the dataframe with all rows

In [ ]:
df.to_excel('my_student.xlsx') # create Excel file

In [ ]:
#query="DELETE FROM student"
query='DROP TABLE student' # Query to delete table
try:
  r_set=my_conn.execute(query)
  print("No of Records deleted : ",r_set.rowcount)
  my_conn.commit()
except sqlite3.Error as my_error:
  print("error: ",my_error)

In [ ]:
# create DataFrame by reading xlsx file
df = pd.read_excel('my_student.xlsx',index_col='id')

In [ ]:
# From DataFrame create student2 table
df.to_sql(con=my_conn,name='student2',if_exists='append')

In [ ]:
query="SELECT *  FROM student2 LIMIT 0,5" # sql
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data)