<a href="https://colab.research.google.com/github/plus2net/Python-basics/blob/main/SQLite_sample_table_date_column_dump.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://www.plus2net.com/images/top2.jpg)        Read more on [SQLite Date Queries](https://www.plus2net.com/python/sqlite-date-query.php)

In [ ]:
import sqlite3
my_path='my_db.db' #Change the path of your database
try:
    my_conn = sqlite3.connect(my_path) #
except sqlite3.Error as my_error:
  print("error: ",my_error)
else:
  print("Connected to database successfully")
r_set=my_conn.execute("CREATE TABLE IF NOT EXISTS dt_table ( \
  record_id varchar(4) NOT NULL, \
  date text NOT NULL, \
  `month-year` varchar(10) NOT NULL)")
my_conn.commit()
print('dt_table created inside my_db.db database')

Create a List of data and insert the same to the table. All our data are created keeping the today's date as base date. Adjust the range to include more records.

In [24]:
from datetime import timedelta,date,datetime
dt_today = date.today() # Today is the base date
data=[] # Blank list to store rows of data
for i in range(-2,2): # increase or decrease range of dates
  dt = dt_today + timedelta(days=i) # adjusted date
  data.append([i,dt,dt.strftime(datetime.strftime(dt,'%b-%Y'))])
  # [-2, datetime.date(2023, 11, 18), 'Nov-2023']
query="INSERT INTO dt_table VALUES (?, ?,?)" # query to insert data
r_set=my_conn.executemany(query,data) # add data to table
my_conn.commit()
print('Data added to dt_table')

Data added to dt_table

In [19]:
query="SELECT name FROM sqlite_master WHERE type='table' "
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # List of tables

[('dt_table',)]

In [20]:
query="pragma table_info([dt_table])" # show structure
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # Structure of the table

[(0, 'record_id', 'varchar(4)', 1, None, 0), (1, 'date', 'TEXT', 1, None, 0), (2, 'month-year', 'varchar(10)', 1, None, 0)]

In [21]:
query="SELECT *  FROM dt_table" # sql
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # display  rows

[('-2', '2023-11-18', 'Nov-2023'), ('-1', '2023-11-19', 'Nov-2023'), ('0', '2023-11-20', 'Nov-2023'), ('1', '2023-11-21', 'Nov-2023')]

In [23]:
query="DELETE FROM dt_table" # Query to delete records
#query='DROP TABLE dt_table' # Query to delete table
try:
  r_set=my_conn.execute(query)
  print("No of Records deleted : ",r_set.rowcount)
  my_conn.commit()
except sqlite3.Error as my_error:
  print("error: ",my_error)

No of Records deleted :  4

# Run quries to get records based on Date

In [25]:
#Display all records of last 2 days ( no future dates )
query="SELECT * FROM dt_table WHERE date BETWEEN date('now','-2 day') AND date('now')"
my_data=list(my_conn.execute(query)) # rows of data as list
print(my_data) # display  rows

[('-2', '2023-11-18', 'Nov-2023'), ('-1', '2023-11-19', 'Nov-2023'), ('0', '2023-11-20', 'Nov-2023')]

[More on SQLite database using Colab platform](https://www.plus2net.com/python/sqlite-colab.php)


Web site: www.plus2net.com

YouTube: https://www.youtube.com/@plus2net1

Facebook: https://www.facebook.com/plus2net

Instagram: https://www.instagram.com/plus2net.in/

LinkedIn: https://www.linkedin.com/in/plus2net/

Write to us  https: //www.plus2net.com/contactus.php